<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734426796792-6656f4ipd0ksti5clc0i7ufi933po2vv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734426796792-6656f4ipd0ksti5clc0i7ufi933po2vv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>734426796792-fh4c0elk0fv6jmqgouarhvv0ol9kqd1h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAXKglxq1zVALqtHamyZSvrsa4bkxmvVqw</string>
	<key>GCM_SENDER_ID</key>
	<string>734426796792</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinema</string>
	<key>PROJECT_ID</key>
	<string>final-proyect-mobile-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>final-proyect-mobile-apps.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734426796792:ios:ba289a551411da3457a10d</string>
</dict>
</plist>